.header-container {
  position: relative;
  padding-top: 50px;

  .header-menu {
    position: absolute;
    top: 50px;
    left: 0;

    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #626262;
    text-transform: uppercase;

    li {
      margin: 10px 0;
    }
  }
  #header-text {
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
  }
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}
